<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    *{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }
</style>

<head>
    <link rel="icon" href="app\image\simple_.jpg">
</head>

<header>
        <div class="side__bar p-0 d-flex flex-column justify-content-start">
            <div class="logo d-flex flex-column justify-content-center align-items-center">
                <a class="logo-1" href="#"><img src="" width="180px" alt="logo"></a>
            </div>
            <nav class="mt-0 mt-5">
                <ul class="p-0">
                    <li class="ms-0 mb-2 me-3 nav-item d-flex justify-content-start align-items-center">
                        <a title="Dashboard" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="Dashboard">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item
                        d-flex justify-content-start align-items-center">
                        <a title="transactions" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="transactions">
                            <span>Transactions</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item
                        d-flex justify-content-start align-items-center">
                        <a title="invoices" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="invoices">
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item
                        d-flex justify-content-start align-items-center">
                        <a title="cards" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="cards">
                            <span>Cards</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item
                        d-flex justify-content-start align-items-center">
                        <a title="settings" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="settings">
                            <span>Settings</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item d-flex justify-content-start align-items-center">
                        <a title="admin" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="" width="30" alt="settings">
                            <span>Admin</span>
                        </a>
                    </li>
                    <li class="ms-0 mb-2 me-3 nav-item d-flex justify-content-start align-items-center">
                        <a title="LogOut" href="#"
                            class="nav-link me-2 d-flex justify-content-center align-items-center gap-3">
                            <img src="#" width="30" alt="logout">
                            <span>LogOut</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="nav__bar d-flex justify-content-between px-4 align-items-center">
            
            <div class="d-flex">
                <div class="toogle pointer d-flex">
                    <img src=">" alt="toogle">
                </div>
                <input class="input_search " type="text" placeholder="Search">  
                <a href="">
                    <img class="input_button" src="app\image\search.png" alt="">
                </a>
            </div>
           
            <div class="item-admin d-flex justify-content-between gap-3 align-items-center">
                <a class="adminName nav-link text-black pointer m-0">
                    <img class="mx-3" src="" width="44px" height="44px" alt="user">
                    <span></span>
                </a>
                <a href="#">
                    <img src="" alt="param">
                </a>
            </div>
        </nav>

        <div class="modal fade" id="request_from" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Request from</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="d-flex m-0 mt-3 justify-content-center" id="warning__" ></p>
                <div class="modal-body">
                    <form action="" method="POST" onsubmit="return modal_validation_2()">
                        <div class="mb-3">
                            <label for="recipient__" class="form-label">From</label>
                            <select id="recipient__" class="form-control form-control-lg" name="recipient">
                               
                                <option value=""></option>
                               
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input type="text" class="form-control" id="amount__" name="amount">
                        </div>

                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
</header>

