<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="categorie/UpdateCategorie" method="post">
        <fieldset>
          <legend>update categorie</legend>
          <label>
            Username:
            <input type="string" name="name" value="<%= categorie.name %>" />
            <input type="text" name="id" value="<%= categorie.id %>" />

            
            <input type="submit" value="Send" />
            
          </label>
        </fieldset>
      </form>
</body>
</html>